$PANEL_HEADING_BACKGROUND: #585858;
$PANEL_BODY_BACKGROUND: #f5f5f5;

.envirotech-widget-container {

  @import 'bootstrap';

  width: 780px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    &.btn {
      margin: 0 5px 5px 0;
    }
  }

  .panel-default {
    > .panel-heading {
      background-color: $PANEL_HEADING_BACKGROUND;
      color: white;
    }
    .panel-body {
      background-color: $PANEL_BODY_BACKGROUND;
      form {
        .form-group {
          height: 66px;
          label {
            text-transform: capitalize;
          }
        }
        .form-actions {
          margin-top:14px;
          input {
            float: right;
            margin-left:20px;
            padding-left:40px;
            padding-right:40px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 750px;
    }
  }
}
